[user]
	name = Jean-Patrick Debaëne
	email = jp@debaene.fr

[core]
	editor = helix
	pager = delta

[pull]
	rebase = false

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-number = true
	syntax-theme = Dracula
	dark = true
	features = decorations

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
	hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
	line-numbers-left-style = cyan
	line-numbers-right-style = cyan
	line-numbers-minus-style = 124
	line-numbers-plus-style = 28

[merge]
    conflictStyle = zdiff3

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow
	untracked = red
