# Docker aliases
alias start_es='docker run -d --rm --name es152 -p 9200:9200 elasticsearch:1.5.2'
alias start_pg=start_pg14
alias start_pg14='docker run -d --rm --name pg14 -p 5432:5432 -e POSTGRES_HOST_AUTH_METHOD=trust -e POSTGRES_USER=jp -v pgdata14:/var/lib/postgresql/data postgres:14'
alias start_redis='docker run -d --rm --name redis5 -p 6379:6379 redis:5'
alias d-c='docker-compose'

alias start_mariadb='docker run -d --rm --name mariadb -e MYSQL_ROOT_PASSWORD=mariadb -p 3306:3306 -v mariadbdata:/var/lib/mariadb/data mariadb:10.4'

# LS / EXA
alias ls="exa --group-directories-first --icons -a"
alias ll="exa -lBGF --group-directories-first --icons -a"

# Shorcuts
alias c="clear"
alias python="python3"
alias v="nvim"
alias vi="nvim"

# BAT
alias cat="bat"

# Tools
alias update='sudo apt update && sudo apt upgrade -y'
alias ip='curl http://ipecho.net/plain; echo '
alias distrib='cat /etc/os-release'
alias reload='source ~/.zshrc'

