configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
configuration { show-icons: true; icon-theme: "Papirus-Dark"; }
@theme "/home/jp/.config/rofi/themes/catppuccin-mocha.rasi"
